class Solution:
    def searchRange(self, nums: List[int], target: int) -> List[int]:
        op=[]
        if target not in nums:
            return [-1,-1]
        else:
            for i in range(len(nums)):
                if nums[i]==target:
                    op.append(i)
        return [op[0],op[len(op)-1]]                
